####################
# Project-specific #
####################

iris.pb.?
iris_pb2.py

##########
# VSCode #
##########

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json